@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f2f2f2;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.container {
    padding-top: 25px;
}

.title-heading {
    font-size: 2rem;
}

.navigation {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.movie-card {
    background-color: #fff;
    border: 0;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
        0 2px 4px rgba(0, 0, 0, 0.24);
    padding: 1rem;
    /* cursor: pointer; */
    position: relative;
    margin: 1rem auto;
}

.movie-card p {
    margin-bottom: 5px;
}

.movie-title {
    font-weight: bold;
    font-size: 1rem;
    min-height: 50px;
}

.movie-director {
    padding: 4px 0;
}

.movie-card button {
    cursor: pointer;
    margin-right: 3px;
    margin-top: 10px;
}

.movie-metascore {
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.actors-list {
    min-height: 120px;
}

.button-wrapper {
    text-align: right;
}

.pre-infos {
    margin-top: 10px;
}

.save-wrapper .movie-title {
    min-height: 0;
}

.saved-list {
    background-color: #fff;
    border: 0;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
        0 2px 4px rgba(0, 0, 0, 0.24);
    padding: 1rem;
    /* cursor: pointer;
    position: relative;
    margin: 1rem auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between; */
}

.saved-list p {
    margin-bottom: 5px;
}

.saved-list h3 {
    margin-right: 10px;
}

.saved-list ul {
    margin: 0;
    padding: 0 0 0 20px;
}

.saved-movie {
    margin: 0 10px;
}
/* .saved-active {
    color: blue;
    border: 1px solid grey;
    padding: 5px;
} */
/* .save-wrapper {
    position: relative;
    width: 75%;
    margin: 1rem auto;
} */
.save-button {
    position: absolute;
    top: 25px;
    right: 25px;
    border: 1px solid grey;
    padding: 5px 10px;
    background-color: lightseagreen;
}
.save-button:hover {
    background-color: green;
    color: white;
}

.home-button {
    padding: 5px 10px;
    background-color: lightskyblue;
}

.movie-warning {
    color: red;
    text-align: center;
}
